<form id="fibForm" method="post">
    <label for="index">Index Number:</label>
    <input type="number" class="form-control" id="index" name="number1" placeholder="fibonacci index">
    <button type="submit">Go</button>
</form>

<div id="error-container" class="hidden">
    <div class="text-goes-here">
        </div>
</div>

<ul id="results"></ul>