<section>
    <h1>Show Finder</h1>

    <p>Hello, world! Use this website to search for shows using a search term keyword. You can get up to 20 (!!!!)
        results back, isn't that pretty cool?
    </p>
    
    <form action="/search" method="POST">
        <label for="searchTerm">Enter a search term:</label>
        <input id ="searchTerm" type="text" name="searchTerm" placeholder="search term keyword" />
        <button type="submit">Go</button>
    </form>
</section>