<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lab 10</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
    <header>
        <h1>Hello World!</h1>
    </header>
    
    <main>
        {{{body}}}
    </main>

    <footer>
        <p class="footerClass">Author: Megha Mansuria</p>
        <p class="footerClass">Student ID: 10440306</p>
        <p class="footerClass">I hope this works.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>