<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fibonacci and Prime Number Checker</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <h1>Fibonacci and Prime Number Checker</h1>
    </header>
    
    <main>
        <p>HEY WORLD!</p>
        <p>Use this website to find the fibonacci number of an entered index! As an ADDED BONUS (jk not
            really because it's part of the assignment), if the resulting fibonacci number is prime, it'll show up
            green :) If it's not prime, it'll show up red :( 
        </p>
        <p class="note">pls ignore the fact that these colors will mess up my website vibe
        <p>
        {{{body}}}
    </main>

    <footer>
        <p class="footerClass">Author: Megha Mansuria</p>
        <p class="footerClass">Student ID: 10440306</p>
        <p class="footerClass">It do be me though.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/form.js"></script>
</body>

</html>